<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Menu</h3>
     <table>
        <tr>
            <th>S.no</th>
            <th>Name</th>
            <th>Description</th>
            <th>image</th>
            <th>category</th>
            <th>price</th>
            <th>avaibility</th>
            <th>Add to cart</th>
        </tr>
        {% for food in foods %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{food.food_name}}</td>
            <td>{{food.description}}</td>
            <td><img src="{{food.image.url}}" width="80"></td>
            <td>{{food.category}}</td>
            <td>{{food.price}}</td>
            <td>{% if food.is_available %}
                <p>Available</p>
                {% else %}
                <p>Not available</p>
                {% endif %}
            </td>
            <td><a href="{% url 'cart' food.id %}">Add</a></td>
        </tr>   
        {% endfor %}  
</body>
</html>