<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Admin_Login</h3>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="admin_name" placeholder="Enter your admin name">
        <br>
        <input type="text" name="admin_key" placeholder="Enter your admin key">
        <br>
        <input type="email" name="admin_email" placeholder="Enter your admin email"></input>
        <hr>
        <button type="submit">Submit</button>
    </form>
</body>
</html>