<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Sigin</h3>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Enter your username">
        <br>
        <input type="text" name="password" placeholder="Enter your password">
        <br>
        <input type="email" name="email" placeholder="Enter your email"></inpur>
        <hr>
        <button type="submit">Submit</button>
    </form>
    <br>
    <p>Already a user:</p>
    <a href="{% url 'login' %}">Login</a>
    <hr>
    <p>If you are a admin:</p>
    <a href="{% url 'admin_login' %}">Admin Login</a>
</body>
</html>